.creation {
    color: red;
    width: 46rem; /* Largura desejada */
    height: 3.375rem; /* Altura desejada */
    top: 193px;
    left: 1rem;
    right: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    z-index: 2; /* Defina um valor de z-index maior para a div */
    text-align: center; /* Centraliza horizontalmente o conteúdo do cabeçalho */
    justify-content: center; /* Centraliza horizontalmente */
    position: fixed;
}

.creation input {
    background-color: var(--gray-500);
    color: var(--gray-300);
    width: 638px; /* Largura desejada */
    height: 3.375rem; /* Altura desejada */
    border: none; /* Remove a borda */
    outline: none;  /*Remove a borda de foco */
    border-radius: 10px; /* Ajuste o valor para controlar o raio dos cantos arredondados */
    z-index: 2; /* Defina um valor de z-index maior para a div */
    margin: 4px;
}

.creation button {
    background-color: var(--blue);
    width: 90px; /* Largura desejada */
    height: 52px; /* Altura desejada */
    z-index: 2; /* Defina um valor de z-index maior para a div */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin: 4px;
}